* ::before, ::after {
    box-sizing: border-box;
  }
header {
    color: whitesmoke;
    background-color: black;
    display: flex;
    justify-content: center;
}

section.question-card {
    background-color: goldenrod;
    margin: 20px 0;
}

p {
    color: white;
}

button {
    background-color: black;
    border-radius: 100px;

}
